<div class="top-brands">
  <div class="container">
    <h3>Super Ofertas</h3>
    <div class="agile_top_brands_grids">
      <% products_with_discount.map do |product| %>
        <div class="col-md-3 top_brand_left">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block" >
                    <div class="snipcart-thumb">
                      <div style="width: auto; height:auto;">
                        <%= image_tag(product.image, style:'width:100%') %>
                      <div>
                      <p><%= "#{product.name}" %></p>
                      <h4><%= "#{Product.price_with_discount(product)}" %> <span><%= "#{product.price}" %></span></h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details">
                      <form action="cart/update" method="post">
                        <fieldset>
                          <%= hidden_field_tag :product, product.id %>
                          <% if current_user %>
                            <%= hidden_field_tag :user, current_user.id %>
                          <% end %>
                          <input type="submit" name="submit" value="Agregar al carrito" class="button" />
                        </fieldset>
                      </form>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>