<!DOCTYPE html>
<html>
  <head>
    <title>FdzMkt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'flexslider', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'jquery', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "pages/flashes" %>
    <%= render partial: "pages/header" %>
    <%= render partial: "pages/banner" %>
    <%= render partial: "pages/top-brands", :locals => { products_with_discount: products_with_discount } %>
    <%= render partial: "pages/footer" %>
  </body>
</html>