<!DOCTYPE html>
<html>
<head>
	<title>FdzMkt - Iniciar sesión</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%= render partial: "pages/flashes" %>
  <div class="container mt-5">
    <a href="/">
      <div class="d-flex justify-content-center img-responsive pb-4">
        <%= image_tag 'fernandez_market', width:"200", height:"200" %>
      </div>
    </a>
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header" style="text-align: center;">
          <h3>Iniciar sesión</h3>
        </div>
        <div class="card-body pr-5 pl-5">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group form-group">
              <div class="field">
                <%= f.label :email, "Correo" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "30" %>
              </div>
            </div>
            <div class="input-group form-group">
              <div class="field">
                <%= f.label :password, "Contraseña" %><br />
                <%= f.password_field :password, autocomplete: "current-password", :size => "30" %>
              </div>
            </div>
            <div class="form-group actions">
              <%= f.submit "Ingresar" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            ¿No tienes cuenta?<a href="/users/sign_up" class = "ml-2">Registrate</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/users/password/new">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>